<div class="home-tool">
	<div class="row-fluid">
	  <h5>
	  	Images en page d'acceuil
	  	<small>
	  		Consultez les options des photos pour les ajouter à la page d'acceuil.
	  	</small>	
		</h5>
		<ul class="portfolio">
		  <% pictures.forEach(function (picture) { %>
			  <% if (picture.homePage) { %>
			    <li>
			      <a href="/picture/<%= picture.id %>" title="<%= picture.name || '' %>">
			        <img src="<%= picture.pathLittleSize %>" alt="<%= picture.name || '' %>" />
			      </a>
			      <% if (picture.name) { %>
			        <span><%= picture.name %></span>
			      <% } %>
			    </li>
		   	<% } %>
		  <% }); %>
		</ul>
	</div>
	<% if (home.text1) { %>
		<div class="row-fluid">
			<h5>
				Texte d'acceuil
				<small>
					Rendez-vous sur la page d'acceuil pour modifier le text.
				</small>
			</h5>
			<div class="row-fluid">
				<div class="well">
					<%- markdownToHtml(home.text1) %>
				</div>
			</div>	 
		</div>
	<% } %>
</div>