<div class="offers-tool">
	<div class="row-fluid">
	  <h5>Offres reçues</h5>
		  <% pictures.forEach(function (picture) { %>
			  <% if (picture.offers[0]) { %>
			    <div class="offers">
			    	<ul class="portfolio">
				      <li><a href="/picture/<%= picture.id %>" title="<%= picture.name || '' %>">
				        <img src="<%= picture.pathLittleSize %>" alt="<%= picture.name || '' %>" />
				      </a></li>
			      </ul>
			      <% picture.offers.forEach(function (offer) { %>
				      <div class="offer-description">
				      	<div class="page-header">
				      		<h6><%= offer.sender %> (<%= offer.senderMail %>)
				      			<span class="pull-right"> Prix proposé: <%= offer.proposedPrice %> €</span>
				      		</h6>
				      	</div>
				      	<ul class="unstyled">
					      	<li></li>
					      	<% if (offer.message) { %>
					      		<li><%= offer.message %></li>
					      	<% } %>
				    		</ul>
				    	</div>
			      <% }); %>
			    </div>
		   	<% } %>
		  <% }); %>
	</div>
</div>