<div class="page-header">
  <h3>Claudine Lux
    <% if (currentUser) { %>
      <span class="pull-right">
        <a class="btn btn-small action show-form-btn">
          Modifier la page d'acceuil
        </a>
      </span>
    <% } %>
  </h3>
</div>


<% if (currentUser) { %>
  <%- partial ("home/_updateHome") %>
<% } %>
<div class="row-fluid">
  <div class="span9">
    <div class="row-fluid">
        <div class="span12 carousel-view">
          <% if (pictures[0] && home.carousel) { %>
            <div class="home-carousel">
              <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <% for (var i = 0; i < pictures.length; i++) { %>
                    <% if (i == 0) { %>
                      <div class="active item">
                    <% } else { %> 
                      <div class="item">       
                    <% } %>   
                        <a href="/picture/<%= pictures[i].id %>"><img src="<%= pictures[i].pathOriginalSize %>"></img></a>
                    </div>        
                  <% } %>
                </div>
              </div>
              <div class="home-carousel-control">
                <a href="#myCarousel" data-slide="prev"><i class="icon-circle-arrow-left"></i></a>
                <a href="#myCarousel" data-slide="next"><i class="icon-circle-arrow-right"></i></a>
              </div>
            </div>
          <% } %>
        </div>
      <div class="span12">
        <% if (home.text1) { %>
          <%- markdownToHtml(home.text1) %>
        <% } %>
      </div>
    </div>
  </div>
  <%if (lastAddedPictures[0] && home.pictureUpdate) { %>
    <div class="span3">
      <ul id="carousel-vertical" class="elastislide-list elastislide-vertical">
          <% for (var i = 0; i < lastAddedPictures.length; i++) { %>
            <li>
              <a href="/picture/<%= lastAddedPictures[i].id %>">
                <img src="<%= lastAddedPictures[i].pathLittleSize %>" alt="image<%= i %>" />
              </a>
            </li>
          <% }; %>
      </ul>
    </div>
  <% } %>
</div>


