

<div class="row-fluid">
  <div class="span9">
    <div class="page-header">
      <h3>Claudine Lux</h3>
    </div>

    <% if (pictures[0]) { %>
      <div class="home-carousel">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <% for (var i = 0; i < pictures.length; i++) { %>
              <% if (i == 0) { %>
                <div class="active item">
              <% } else { %> 
                <div class="item">       
              <% } %>   
                  <a href="/picture/<%= pictures[i].id %>"><img src="<%= pictures[i].pathOriginalSize %>"></img></a>
          </div>        
            <% } %>
        </div>
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    <% } %>
  </div>

      Bonjour,<br><br>
      
      Je dessine depuis ma petite enfance, mais, malheureusement, je n'ai pas pu réaliser mon désir d'aller aux Beaux-arts car mes parents s'y sont opposés. Mes études supérieures en allemand m'ont permis de rentrer en relation avec des artistes allemands dans les années soixante et soixante-dix, ce qui a ravivé mon goût de l'art. Depuis vingt-cinq ans, je me suis remise au dessin essentiellement, mais j'ai beaucoup tâtonné. Je cherchais à sortir de la figuration qui ne me pose aucun problème d'exécution mais qui m'ennuie. Je cherchais à insérer des éléments mathématiques (symétrie, effet de miroir, composition stricte) avec des éléments de la nature (arbres, branches… ) J'ai commencé assez vite à déformer manuellement mes dessins afin de leur donner un côté plus abstrait, ce que me permettent de faire aujourd'hui certains logiciels qui sont pour moi un outil parmi d'autres. Aucune oeuvre n'est réalisée sur l'ordinateur, elle subit seulement des modifications à l'aide de quelques filtres. Presque tous mes travaux découlent les uns des autres, j'extrais des parties de tableaux que je transforme, par les couleurs, par le format, par des variations de forme.<br>
      J'aime autant la littérature que le dessin et la peinture et j'écris avec la même intensité bien que dans la veine réaliste.
  </div>
  <%if (lastAddedPictures[0]) { %>
    <div class="span3">
      <h4>Derniers ajouts</h4>
      <ul id="carousel-vertical" class="elastislide-list elastislide-vertical">
          <% for (var i = 0; i < lastAddedPictures.length; i++) { %>
            <li>
              <a href="/picture/<%= lastAddedPictures[i].id %>"><img src="<%= lastAddedPictures[i].pathLittleSize %>" alt="image<%= i %>" /></a>
            </li>
          <% }; %>
      </ul>
    </div>
  <% } %>
</div>


