<div class="row-fluid">
  <% picture.comments.forEach(function (comment) { %>
    <div class="comment">
      <% if (currentUser) { %>    
        <form method="post" action="/comments" class="delete-comment pull-right">
          <input type="hidden" name="comment[id]" value="<%= comment.id %>"/>
          <input type="hidden" name="comment[picture]" value="<%= picture.id %>"/>
          <input type="hidden" name="_method" value="delete"/>
          <button type="submit" value="" class="btn btn-small btn-danger">X</button>
        </form>
      <% } %>
      <h5><%= comment.sender %> <small><%= parseDate(comment.date) %>
        <% if (comment.senderMail && currentUser) { %>
          - <%= comment.senderMail %></small></h5>
        <% } %>
      <p><%- markdownToHtml(comment.message) %></p>
    </div>   
  <% }); %>
</div>

<div class="row-fluid">  
  <div class="hided-form2">
    <form method="post" action="/comments" class="form-inline add-comment">
      <input type="hidden" name="comment[picture]" value="<%= picture.id %>">
      <div>
        <input type="text" value="" name="comment[sender]" placeholder="Votre nom...">
      </div>
      <div>
          <small><i>Surnom valable.</i></small>
      </div>
      <div>
          <input type="text" value="" name="comment[senderMail]" placeholder="Votre email... (facultatif)."></input>
      </div>
      <div>
          <small><i>Seul le webmaster aura accès à votre mail.</i></small>
      </div>
      <div>
        <textarea name="comment[message]" placeholder="Message"></textarea>
      </div>
      <div class="input-append hided-form-sumbit">
        <a href="#modalMarkdownInfo" role="button" class="btn" data-toggle="modal">?</a>
        <input type="submit" value="Envoyer" class="btn" />
        <a class="action hide-form-btn2 btn btn-inverse" name="new-comment">Annuler</a>
      </div>
    </form> 
  </div>
</div>


<%- partial("./modals/_markdowns") %>