<div class="row-fluid">
  <% picture.comments.forEach(function (comment) { %>
    <div class="comment">
      <h5><%= comment.sender %> <small><%= parseDate(comment.date) %> - <%= comment.senderMail %></small></h5>
      <p><%- markdownToHtml(comment.message) %></p>
    </div>   
  <% }); %>
</div>

<div class="row-fluid">  
  <div class="hided-form2">
    <form method="post" action="/comments" class="form-inline add-comment">
      <input type="hidden" name="comment[picture]" value="<%= picture.id %>">
      <div>
        <input type="text" value="" name="comment[sender]" placeholder="Votre nom...">
      </div>
      <div>
          <small><i>Surnom valable.</i></small>
      </div>
      <div>
          <input type="text" value="" name="comment[senderMail]" placeholder="Votre email... (facultatif)."></input>
      </div>
      <div>
          <small><i>Seul le webmaster aura accès à votre mail.</i></small>
      </div>
      <div>
        <textarea name="comment[message]" placeholder="Message"></textarea>
      </div>
      <div class="input-append hided-form-sumbit">
        <input type="submit" value="envoyer" class="btn">
        <a class="action hide-form-btn2 btn btn-danger" name="new-comment">Annuler</a>
      </div>
    </form> 
  </div>
</div>