<% var currentPictures = getIndexOfPictureInAlbum(picture); %>
<% var pictures = album.pictures %> 

<% if (picture.errors) { %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Erreur(s) lors de l'ajout de votre commentaire:</h4>
    <ul>
      <% for (attribute in picture.errors) { %>
        <li><%= picture.errors[attribute].type %></li>
      <% }; %>
    </ul>
    <small>Veuillez réintroduire votre demande avec les données manquantes.</small>
  </div>
<% } %>

<div class="page-header">
  <h3>
    <%= picture.name || "Titre non défini" %>
    <small>
      <% if (picture.creationDate) { %>
        <%= parseDate(picture.creationDate) %>
      <% } %>
    </small>
    <a class="action show-form-btn btn btn-small pull-right">
      Modifier la photo
    </a>
  </h3>
</div>

<%- partial ("./_editPicture", {picture: picture}) %>

<div class="picture-description">
  <% if (picture.description) { %>
    <h4>Description:</h4>
    <p><%= picture.description %></p>
  <% } %>
</div>

<div class="row-fluid">
  <div class="span1">
    <span class="pull-left image-move-button">
      <% if (currentPictures.previous) { %>
        <a href="/picture/<%= currentPictures.previous %>" class="">&lsaquo;</a>
      <% } %>
    </span>
  </div>
  <div class="span9 picture-view">
    <a href="<%= picture.pathOriginalSize %>" target="_blank">
      <img src="<%= picture.pathOriginalSize %>" class="picture-view">
    </a>
  </div>
  <div class="span1">
    <span class="pull-right image-move-button">
      <% if (currentPictures.next) { %>
        <a href="/picture/<%= currentPictures.next %>" class="">&rsaquo;</a>
      <% } %>
    </span> 
  </div>
</div>


<div class="row-fluid">
  <h4><a href="/album/<%= picture.album.id %>"><%= picture.album.name %></a>:</h4>
  <ul id="carousel" class="elastislide-list">
    <% for (var i = 0; i < pictures.length; i++) { %>
      <li>
        <a href="/picture/<%= pictures[i].id %>"><img src="<%= pictures[i].pathLittleSize %>" alt="image<%= i %>" /></a>
      </li>
    <% }; %>
  </ul>
</div>



<%- partial ("./_comments", {picture: picture}) %>