<% var currentPictures = getIndexOfPictureInAlbum(picture); %>

<% if (picture.errors) { %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Erreur(s) lors de l'ajout de votre commentaire:</h4>
    <ul>
      <% for (attribute in picture.errors) { %>
        <li><%= picture.errors[attribute].type %></li>
      <% }; %>
    </ul>
    <small>Veuillez réintroduire votre demande avec les données manquantes.</small>
  </div>
<% } %>

<div class="page-header">
  <h3>
    <%= picture.name || "Titre non défini" %>
    <small>
      <% if (picture.album) { %>
        <a href="/album/<%= picture.album.id %>"><%= picture.album.name %></a>
      <% } %>
    </small>
    <% if (currentUser) { %>
      <a class="action show-form-btn btn pull-right">
        Modifier la photo
      </a>
    <% } %>
  </h3>
</div>


<% if (currentUser) { %>
  <%- partial ("./_editPicture", {picture: picture}) %>
<% } %>

<div class="row-fluid">
  <div class="span9">
    <div class="picture-description">
      <% if (picture.description) { %>
        <h4>Description:</h4>
        <p><%= picture.description %></p>
      <% } %>
    </div>
    <div class="picture-view">
      <a href="<%= picture.pathOriginalSize %>" target="_blank">
        <img src="<%= picture.pathOriginalSize %>" class="picture-view">
      </a>
      <span class="pull-left image-move-button">
        <% if (currentPictures.previous) { %>
          <a href="/picture/<%= currentPictures.previous %>" class="link-no-style">
            <i class="icon-circle-arrow-left"></i>
          </a>
        <% } %>
      </span>
      <span class="pull-right image-move-button">
        <% if (currentPictures.next) { %>
          <a href="/picture/<%= currentPictures.next %>" class="link-no-style">
            <i class="icon-circle-arrow-right"></i>
          </a>
        <% } %>
      </span> 
    </div>
  </div>
  <div class="span3">
    <ul id="carousel-vertical" class="elastislide-list elastislide-vertical">
      <% for (var i = 0; i < pictures.length; i++) { %>
        <li>
          <a href="/picture/<%= pictures[i].id %>"><img src="<%= pictures[i].pathLittleSize %>" alt="image<%= i %>" /></a>
        </li>
      <% }; %>
    </ul>  
  </div>
</div>

<% if (picture.toSale) { %>
  <%- partial ("./_offer", {picture: picture}) %>
<% } %>

<div class="row-fluid">
  <a href="#new-comment" class="btn action show-form-btn2">Ajouter un commentaire</a>
  <% if (picture.toSale) { %>
    <a href="#sale-proposition" class="btn btn-success action show-form-btn3">Peinture en vente: faire une proposition</a>
  <% } %>
</div>

<%- partial ("./_comments", {picture: picture}) %>
