<div class="hided-form">
  <form method="post" action="/album">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="album[id]" value="<%= album.id %>">
    <div>
      <label for="album[name]">
        Nom
      </label>
      <input type="text" value="<%= album.name || '' %>" name="album[name]" />
      <label for="album[description]">
        Description
      </label>
      <textarea name="album[description]"><%= album.description || '' %></textarea>
    </div>   
    <div class="input-append hided-form-sumbit">
      <a href="#modalMarkdownInfo" role="button" class="btn" data-toggle="modal">?</a>
      <input class="btn" type="submit" value="Modifier">
      <a class="btn btn-inverse action hide-form-btn">
        Annuler
      </a>
    </div>
  </form>
  <div>
    <form method="post" action="/album" class="delete-album">
      <input type="hidden" name="album[id]" value="<%= album.id %>"/>
      <input type="hidden" name="_method" value="delete"/>
      <button type="submit" value="" class="btn btn-danger">Supprimer l'abum</button>
    </form>
  </div>
</div> 
    
<%- partial("./modals/_markdowns") %>