<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body">
      <div class="modal-image">
      </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i>Précédent</a>
        <a class="btn btn-primary modal-next">Suivant<i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="3000"><i class="icon-play icon-white"></i>Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i>Télécharger</a>
    </div>
</div>
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  <% album.pictures.forEach(function (picture) { %>
    <div class="pic-album-view">
      

        <% if (picture.id == album.cover) { %>
          <img src="/pics/favoris_active.png">
        <% } else { %>
          <form method="post" action="/album" class="form-horizontal">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="album[cover]" value="<%= picture.id %>">
            <input type="hidden" name="album[id]" value="<%= picture.album %>">
            <input type="image" name="submit" src="/pics/favoris_noActive.png"></input>
          </form>
        <% } %>
      <a href="<%= picture.path %>" title="<%= picture.name || '' %>" data-gallery="gallery" class="picture-link">
        <img src="<%= picture.path %>" />
      </a>
      <a href="/picture/<%= picture.id %>" class="btn edit-picture-button  pull-right">
        <i class="icon-pencil"></i>
      </a>     
    </div>
  <% }); %>
</div>

