<% if (album.errors) { %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Erreur(s) lors de l'ajout d'un album:</h4>
    <ul>
      <% for (attribute in album.errors) { %>
        <li><%= album.errors[attribute].type %></li>
      <% }; %>
    </ul>
    <small>Veuillez réintroduire votre demande avec les données manquantes.</small>
  </div>
<% } %>

<div class="page-header">
  <h2>
    Albums
    <a href="#newAlbum" data-toggle="modal" class="pull-right btn btn-small" data-target="#newAlbum">
      Ajouter un album
    </a>
  </h2>
</div>


<% albums.forEach(function (album) { %>
  <div class="album-box">
    <a href="/album/<%= album.id %>">
      <% if (album.cover) { %>
        <img src="<%= album.cover.pathLittleSize %>">
      <% } %>
      <%= album.name %>
      <small>(<%= album.pictures.length %> photos)</small>
    </a>
  </div>  
<% }); %>

<!-- Modal -->
<%- partial("albums/_newAlbum", {album: album}) %>

