<% if (album.errors) { %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Erreur(s) lors de la modification de l'album:</h4>
    <ul>
      <% for (attribute in album.errors) { %>
        <li><%= album.errors[attribute].type %></li>
      <% }; %>
    </ul>
    <small>Veuillez réintroduire votre demande avec les données manquantes.</small>
  </div>
<% } %>

<div class="page-header">
  <h2>
    <%= album.name %>
    <% if (currentUser) { %>
      <a class="btn btn-small action show-form-btn pull-right">
        Modifier l'album
      </a>
    <% } %>
  </h2>
</div>

<% var sortedPictures = sortPictureByAlbumIndex(album.pictures); %>  

<%- partial("albums/_editAlbum", {album: album}) %>

<p><%= album.description %></p>

<ul class="portfolio">
  <% for (var i = 0; i < sortedPictures.length; i++) { %>
  <% var picture = sortedPictures[i] %>
    <li>
      <% if (currentUser) { %>
        <div class="portfolio-cover">
            <% if (picture.id == album.cover) { %>
                <img src="/pics/favoris_active.png">
            <% } else { %>
              <form method="post" action="/album" class="form-horizontal">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="album[cover]" value="<%= picture.id %>">
                <input type="hidden" name="album[id]" value="<%= picture.album %>">
                <input type="image" name="submit" src="/pics/favoris_noActive.png"></input>
              </form>
            <% } %>
            <div class="picture-index-button">
              <% if(i != 0) { %>
                <form method="post" action="/picture" class="form-horizontal">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="hidden" name="picture[oldAlbumIndex]" value="<%= picture.albumIndex %>">
                  <input type="hidden" name="picture[albumIndex]" value="<%= picture.albumIndex - 1 %>">
                  <input type="hidden" name="picture[id]" value="<%= picture.id %>">
                  <button type="send" class="btn-change-picture-index"><i class="icon-arrow-left"></i></button>
                </form>
              <% } %>
              <% if (i != sortedPictures.length - 1) { %>
                <form method="post" action="/picture" class="form-horizontal">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="hidden" name="picture[oldAlbumIndex]" value="<%= picture.albumIndex %>">
                  <input type="hidden" name="picture[albumIndex]" value="<%= picture.albumIndex + 1 %>">
                  <input type="hidden" name="picture[id]" value="<%= picture.id %>">
                  <button type="send" class="btn-change-picture-index"><i class="icon-arrow-right"></i></button>
                </form>
              <% } %>
            </div>
        </div>
      <% } %>
      <a href="/picture/<%= picture.id %>" title="<%= picture.name || '' %>">
        <img src="<%= picture.pathLittleSize %>" alt="<%= picture.name || '' %>" />
      </a>
      <%= picture.albumIndex %>
      <% if (picture.name) { %>
        <span><%= picture.name %></span>
      <% } %>
    </li>
  <% }; %>
</ul>
      

<% if (currentUser) { %>
  <div class="row-fluid">
    <%- partial ('albums/_addPictureButton', {album: album}) %>
  </div>
<% } %>

