<% if (album.errors) { %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Erreur(s) lors de la modification de l'album:</h4>
    <ul>
      <% for (attribute in album.errors) { %>
        <li><%= album.errors[attribute].type %></li>
      <% }; %>
    </ul>
    <small>Veuillez réintroduire votre demande avec les données manquantes.</small>
  </div>
<% } %>

<div class="page-header">
  <h2>
    <%= album.name %>
    <span class="pull-right">
      <a href="#updateAlbum" data-toggle="modal" class="btn btn-small">
        Modifier l'album
      </a>
    </span>
  </h2>
</div>  
    <ul class="portfolio">
      <% album.pictures.forEach(function (picture) { %>
        <li><img src="<%= picture.pathLittleSize %>" alt="<%= picture.name || '' %>" /><span>TOZ</span></li>
      <% }); %>
    </ul>

<p><%= album.description %></p>
<%- partial ('albums/_picturesModal', {album: album}) %>

<div class="row-fluid">
  <%- partial ('albums/_addPictureButton', {album: album}) %>
</div>

<!-- Modal -->

<%- partial("albums/_updateAlbum", {album: album}) %>
