<div class="page-header">
  <h2>
    News
    <a href="" data-toggle="modal" class="pull-right btn btn-small action show-news-form">
      Ajouter une nouvelle
    </a>
  </h2>
</div>

<div class="row-fluid">
  <% news.forEach(function (anew) { %>
    <h4><%= anew.date %> <%= anew.title %></h4>
    <ul>
      <% anew.elements.forEach(function (element) { %>
        <li><%= element %></li>
      <% }); %>
    </ul>
  <% }); %>
</div>

<div class="row-fluid">
  <div class="news-form">
    <button class="btn action add-news-element">Ajouter un élément</button>

    <form method="post" action="/news" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputName">Titre:</label>
        <div class="controls">
          <input type="text" value="<%= news.title || '' %>" name="news[title]"></input>
        </div>
      </div>
      <div class="news-elements">
        <div class="control-group news-element">
          <label class="control-label" for="inputName">News:</label>
          <div class="controls">
            <input type="text" value="<%= news.title || '' %>" name="news[elements][]"></input>
          </div>
        </div>

      
      </div>
      <div class="input-append">
        <div class="control-group">
          <input class="btn" type="submit" value="Créer">
          <a class="action hide-news-form btn btn-danger">Retour</a>
        </div>
      </div>
    </form>
  </div>
</div>
